<img src="assets\CGI_logo_rgb_white.png" class="center" height="80" alt="CGI logo">
<p>This National Parks Tracker utilizes Java Spring Boot to access data directly from the National Park Service API and to create and maintain a SQL database 
    for storage and manipulation of user accounts. The front end of the application was created with Angular, relying heavily on the Angular Material UI component library. 
</p>
<div>
Possible future improvements include the following: 
    <ul style="square">
        <li>Implement Search by Park Name functionality</li>
        <li>Implement Search by State functionality</li>
        <li>Add features available only to logged in users:</li>
        <ul style="round">
            <li>Allow users to save parks for Future Trips/view all Saved parks</li>
            <li>Allow users to mark parks as Visited/view all Visited parks</li>
            <li>Allow users to save reviews and photos linked to their Visited parks</li>
            <li>Allow users to see other users' reviews and photos</li>      
        </ul>
        <li>Improve site security:</li>
        <ul style="round">
            <li>Set up password requirements/validation</li>
            <li>Set up password reset feature</li>
            <li>Enable JWT authentication</li>
            <li>Hide password on login page</li>
        </ul>
        <li>Improve UI/UX with optional dark mode</li>
        <li>Test UI for accessibility compliance</li>
        <li>Add features to improve application usefulness to target market:
            <ul style="round">
                <li>Note parks that require advance entry reservation and link to reservation site</li>
                <li>Add user profile customization (profile picture, "about me", etc)</li>
                <li>Allow users to connect with external social media sites (facebook, instagram, twitter, etc) to share Saved Parks and Visited Parks</li>
            </ul>
        </li>
        <br>
        <li>Bug Fixes:</li>
        <ul style="round">
            <li>Search by Park Name/Button alignment changes breaks on large screen size</li>
        </ul>
    </ul>
</div>